.App_wrap {
    margin: auto;
    width: 1240px;
    display: grid;
    grid-template-areas: "h h" "s c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 15px;
}

.App_content {
    padding: 10px;
    grid-area: c;
    background: #eee;
}